.container {
  padding: 20px;
}

.body {
  min-height: 100%;
}

.row {
  display: flex;
  margin: auto;
  width: fit-content;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  .row {
    display: flex;
    margin: auto;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.play-1 {
  margin: auto auto 25px auto;
  width: fit-content;
}
.play-now-1 {
  font-size: 1rem;
  background-color: black;
  color: white;
  border-width: 2px;
  border-color: grey;
  padding: 10px;
  outline: none;
  text-align: center;
  border-radius: 15px;
}
.play-1 :hover {
  background-color: rgb(69, 69, 69);
}
.play-now-1 :active {
  color: white;
  text-decoration: none;
}
.play-now-1 :not(:active) {
  text-decoration: none;
  color: white;
}
.play-now-text-1 {
  text-decoration: none;
  margin: 0px;
}
.my-foot-games {
  padding: 20px;
  margin-top: 135px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  bottom: 0px;
}
.game-card {
  height:535px;
  margin: 8px 12px 8px 12px;
  padding: 16px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
}
